extends layout

block content

  header
    include includes/header.jade

  if stageInfo.type === 'regular race'
    figure.stage-status
      include includes/status.jade

  if stageStatus.groups.length > 0
    section.groups
      include includes/groups.jade

  section.news-items
    include includes/news.jade
