.groups
  max-width: 900px
  margin: 8px auto 0
  display: flex
  justify-content: center
  flex-wrap: wrap

  .group
    flex-grow: 1
    padding: 8px

    h2
      font-size: .8em
      margin: 0 0 6px 0
      font-weight: bold

      span
        border-bottom: 1px dotted #999
        cursor: pointer

    p
      font-size: 0.7em
      line-height: 1.3
      margin: 0 0 3px 0

    .jersey
      float: left
      width: 13px
      height: 16px
      background: url( ../assets/icons.png ) 0 0
      margin: 0 1px 0 0
      background-size: 20px auto

      &.y
        background-position: center -529px

      &.w
        background-position: center -576px

      &.g
        background-position: center -545px

      &.r
        background-position: center -560px

