.news-items
  padding: 0 20px
  max-width: 900px
  margin: 40px auto

  article
    margin: 0 0 50px

    h1
      font-weight: bold

    blockquote
      margin: 6px 0 0 2px
      padding: 5px 0 5px 8px
      border-left: 4px solid #eee
      line-height: 1.5
      font-size: 0.9em
